<svg xmlns="http://www.w3.org/2000/svg" height="20" width="{{width}}">
  <style>
    text {
      font-family: DejaVu Sans,Verdana,Helvetica,sans-serif;
      font-size: 11px;
      font-weight: bold;
    }
  </style>
  <rect width="{{width}}" height="20"/>
  <rect rx="3" x="{{rectX}}" y="3" width="{{rectWidth}}" height="14" fill="#f7971d"/>
  <text x="4" y="14" textLength="{{leftWidth}}" lengthAdjust="spacingAndGlyphs" fill="#fff">{{left}}</text>
  <text x="{{rightX}}" y="14" textLength="{{rightWidth}}" lengthAdjust="spacingAndGlyphs" fill="#000">{{right}}</text>
</svg>
